@model proyecto_1.Models.ViewModel.EditarProveedorViewModel
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("Editar", "Proveedores", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.AntiForgeryToken() //arroja excepcion no controlada


            @Html.ValidationMessage("error", new { @class = "text-danger" })



            @Html.LabelFor(d => d.razon_social)
            <br />@Html.ValidationMessageFor(d => d.razon_social, "", new { @class = "text-danger" })
            @Html.TextBoxFor(d => d.razon_social, new { @class = "form-control" })


            @Html.LabelFor(d => d.email)
            <br />@Html.ValidationMessageFor(d => d.email, "", new { @class = "text-danger" })
            @Html.TextBoxFor(d => d.email, new { @class = "form-control" })


            @Html.LabelFor(d => d.telefono)
            <br />@Html.ValidationMessageFor(d => d.telefono, "", new { @class = "text-danger" })
            @Html.TextBoxFor(d => d.telefono, new { @class = "form-control" })


    <div style="text-align:center" class="boton">
        <input type="button" value="Volver" class="btn btn-primary" onclick="document.location.href= '@Url.Content("~/Proveedores/Index")'" />
        <input type="submit" class="btn btn-primary" value="Editar" />

    </div>

        }
    </div>

</div>