@model proyecto_1.Models.ViewModel.EditarEmpleadoViewModel
@{
    ViewBag.Title = "Editar Usuario";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("Editar", "Empleados", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(d => d.id_empleado)

            @Html.ValidationMessage("error", new { @class = "text-danger" })


            if ((int)Session["tipo"] != 3)
            {
                @Html.LabelFor(d => d.id_tipo)
                <br />@Html.ValidationMessageFor(d => d.id_tipo, "", new { @class = "text-danger" })
                @Html.TextBoxFor(d => d.id_tipo, new { @class = "form-control" })

            }


            @Html.LabelFor(d => d.nombre)
            <br />@Html.ValidationMessageFor(d => d.nombre, "", new { @class = "text-danger" })
            @Html.TextBoxFor(d => d.nombre, new { @class = "form-control" })


            @Html.LabelFor(d => d.apellido)
            <br />@Html.ValidationMessageFor(d => d.apellido, "", new { @class = "text-danger" })
            @Html.TextBoxFor(d => d.apellido, new { @class = "form-control" })

            @Html.LabelFor(d => d.dni)
            <br />@Html.ValidationMessageFor(d => d.dni, "", new { @class = "text-danger" })
            @Html.TextBoxFor(d => d.dni, new { @class = "form-control" })

            /*
            @Html.LabelFor(d => d.password)
            @Html.PasswordFor(d => d.password, new { @class = "form-control" })


            @Html.LabelFor(d => d.Confirmarpassword)
            @Html.PasswordFor(d => d.Confirmarpassword, new { @class = "form-control" })

            */
    <div style="text-align:center" class="boton">
        <input type="button" value="Volver" class="btn btn-primary" onclick="document.location.href= '@Url.Content("~/Empleados/Index")'" />
        <input type="submit" class="btn btn-primary" value="Editar" />

    </div>

        }
    </div>

        </div>

