@model List<proyecto_1.Models.ViewModel.ListaProductosViewModel>
@{
    ViewBag.Title = "Productos";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="boton">
        <input type="submit" value="Agregar" class="btn btn-primary" onclick="document.location.href= '@Url.Content("~/Productos/Crear")'" />
    </div>
</div>

@if ((string)TempData["Referrer"] == "SaveRegister")
{
    <div class="alert alert-success">
        <strong>Su carga se realizo exitosamente</strong>
    </div>
}

<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <tr>
                <th>#</th>
                <th>Descripcion</th>
                <th>Stock</th>
                <th>Precio</th>
                <th>  </th>
            </tr>

            @foreach (var oProducto in Model)
            {
        <tr>
            <td>@oProducto.id </td>
            <td>@oProducto.descripcion </td>
            <td>@oProducto.stock </td>
            <td>$ @Decimal.Round(oProducto.precio,2) </td>
            
            <td>
                @if (Session.Count > 1 && (int)Session["tipo"] == 1)
                {
                    <input type="submit" value="Editar" class="btn btn-success" onclick="document.location.href='@Url.Content("~/Productos/Editar/"+ oProducto.id)'" />

                    <input type="submit" value="Eliminar" class="btn btn-danger" onclick="jsDelete(@oProducto.id);" />
                }




            </td>

        </tr>
            }
        </table>

    </div>

</div>

<script>
     function jsDelete(id) {
         if (confirm("esta seguro que desa confirmar?"))
         {
                url = "@Url.Content("~/Productos/Eliminar")" + "/" + id;

            $.post(url, function (data)
            {
                if (data == "1")
                {
                      document.location.href = "@Url.Content("~/Productos")"
                }
                else
                {
                        alert("ocurrio un problema al eliminar el producto")
                }
            })
         }
     }
</script>