@model proyecto_1.Models.ViewModel.ClienteViewModel
@{
    ViewBag.Title = "Crear";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("Crear", "Clientes", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.AntiForgeryToken() //arroja excepcion no controlada


            //@Html.ValidationMessage("error", new { @class = "text-danger" })



            @Html.LabelFor(d => d.nombre)
            <br />@Html.ValidationMessageFor(d => d.nombre, "", new { @class = "text-danger" })
            @Html.TextBoxFor(d => d.nombre, new { @class = "form-control" })


            @Html.LabelFor(d => d.direccion)
            <br />@Html.ValidationMessageFor(d => d.direccion, "", new { @class = "text-danger" })
            @Html.TextBoxFor(d => d.direccion, new { @class = "form-control" })

            @Html.LabelFor(d => d.telefono)
            <br />@Html.ValidationMessageFor(d => d.telefono, "", new { @class = "text-danger" })
            @Html.TextBoxFor(d => d.telefono, new { @class = "form-control" })


            @Html.LabelFor(d => d.CUIT)
            <br />@Html.ValidationMessageFor(d => d.CUIT, "", new { @class = "text-danger" })
            @Html.TextBoxFor(d => d.CUIT, new { @class = "form-control" })

            @Html.LabelFor(d => d.id_IVA)
            @Html.DropDownListFor(d => d.id_IVA, items, new { @class = "form-control" });

            <div style="text-align:center" class="boton">
                <input type="button" value="Volver" class="btn btn-primary" onclick="document.location.href= '@Url.Content("~/Clientes/Index")'" />
                <input type="submit" class="btn btn-primary" value="Crear" />

            </div>


        }
    </div>

     </div>

