@model proyecto_1.Models.ViewModel.ComercioViewModel
@{
    ViewBag.Title = "Crear";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("Crear", "Comercios", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.AntiForgeryToken() //arroja excepcion no controlada


            @Html.ValidationMessage("error", new { @class = "text-danger" })



            @Html.LabelFor(d => d.razon_social)
            <br />@Html.ValidationMessageFor(d => d.razon_social, "", new { @class = "text-danger" })
            @Html.TextBoxFor(d => d.razon_social, new { @class = "form-control" })


            @Html.LabelFor(d => d.id_IVA)
            @Html.DropDownListFor(d => d.id_IVA, items, new { @class = "form-control" });


            @Html.LabelFor(d => d.Ingresos_brutos)
            <br />@Html.ValidationMessageFor(d => d.Ingresos_brutos, "", new { @class = "text-danger" })
            @Html.TextBoxFor(d => d.Ingresos_brutos, new { @class = "form-control" })

            @Html.LabelFor(d => d.fecha_inicio)
            <br />@Html.ValidationMessageFor(d => d.fecha_inicio, "", new { @class = "text-danger" })
            @Html.TextBoxFor(d => d.fecha_inicio, new { @class = "form-control" })

            @Html.LabelFor(d => d.CUIT)
            <br />@Html.ValidationMessageFor(d => d.CUIT, "", new { @class = "text-danger" })
            @Html.TextBoxFor(d => d.CUIT, new { @class = "form-control" })



            <div style="text-align:right" class="boton">
                <input type="submit" class="btn btn-primary" value="Crear" />

            </div>

        }
    </div>

</div>





