@model List<proyecto_1.Models.ViewModel.ListaComerciosViewModel>
@{
    ViewBag.Title = "Comercios";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="boton">
        <input type="submit" value="Agregar" class="btn btn-primary" onclick="document.location.href= '@Url.Content("~/Comercios/Crear")'" />
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <tr>
                <th>#</th>
                <th>Razon Social</th>
                <th>CUIT</th>
                <th>IVA</th>
                <th>Ingresos Brutos</th>
                <th>Fecha de inicio</th>
                <th> </th>
            </tr>

            @foreach (var oComercio in Model)
            {
        <tr>
            <td>@oComercio.id_comercio </td>
            <td>@oComercio.razon_social </td>
            <td>@oComercio.CUIT </td>
            <td>@oComercio.IVA </td>
            <td>@oComercio.ingresos_brutos </td>
            <td>@oComercio.fecha_inicio  </td>
            <td>
                
                    <input type="submit" value="Editar" class="btn btn-success" onclick="document.location.href='@Url.Content("~/Comercios/Editar/"+ oComercio.id_comercio)'" />

                    <input type="submit" value="Eliminar" class="btn btn-danger" onclick="jsDelete(@oComercio.id_comercio);" />

            </td>

        </tr>
            }
        </table>

    </div>

</div>

<script>
     function jsDelete(id) {
         if (confirm("esta seguro que desa confirmar?"))
         {
                url = "@Url.Content("~/Comercios/Eliminar")" + "/" + id;

            $.post(url, function (data)
            {
                if (data == "1")
                {
                      document.location.href = "@Url.Content("~/Comercios")"
                }
                else
                {
                        alert("ocurrio un problema al eliminar el Comercio")
                }
            })
         }
     }
</script>